/*
This is a dark theme for mainsail.
It is inspired by the Eryone theme.
GitHub:         https://github.com/dapostol73/MainsailEryoneTheme
Eryone COLOR PALETTE
    Background:  #121212;
    CurrentLine: #282828;
    Foreground:  #f2f2f2;
    Comment:     #486da3;
    Green:       #38ab57;
    Yellow:      #f6ba1b;
    Red:         #e74736;
    Amber:       #bd8f15;
    Blue:        #547ebd;
    Gray:        #808080;
*/

:root {
    --Primary:        #f6ba1b;    /*Eryone:Yellow*/
    --Secondary:      #547ebd;    /*Eryone:Blue*/
    --Green:          #38ab57;    /*Eryone:Green*/
    --Red:            #e74736;    /*Eryone:Red*/
    --Warnings:       #bd8f15;    /*Eryone:Amber*/
    --Text:           #f2f2f2;    /*Eryone:Foreground*/
    --DarkerText:     #e0e0e0;    
    --Background:     #282828;    /*Eryone:CurrentLine*/
    --DarkBackground: #121212;    /*Eryone:Background*/
    --Toolbars:       #282828;    /*Eryone:CurrentLine*/
    --Sheets:         #121212;    /*Eryone:Background*/
}
.v-application {
    --v-primary-base: var(--Primary) !important;
    --v-anchor-base:  var(--Primary) !important;
    --v-error-base:   var(--Red) !important;
    --v-success-base: var(--Green) !important;
    --v-warning-base: var(--Warnings) !important;
    --v-panel-base:   var(--DarkBackground) !important;
}